<html>
  <head>
    <title>My Angular App!</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">

    <script src="js/angular.js"></script>
    <script src="js/app/app.js"></script>
    <script src="js/app/controllers/MainController.js"></script>
    <script src="js/app/services/postsFactory.js"></script>
  </head>
  <body ng-app="flapperNews" ng-controller="MainController as ctrl">
    <div class="container news-feed">
      <div ng-repeat="post in ctrl.posts | orderBy: '-upvotes'">
        <a ng-show="post.link" href="{{post.link}}">
          {{post.title}}
        </a>
        <span ng-hide="post.link">
          {{post.title}}
        </span>
        - upvotes: {{post.upvotes}}
        <span ng-click="ctrl.incrementUpvotes(post)" class="glyphicon glyphicon-plus"></span>
      </div>
      <form ng-submit="ctrl.addPost()">
        <input type="text" placeholder="Title" ng-model="ctrl.newTitle">
        <br>
        <input type="text" placeholder="Link" ng-model="ctrl.newLink" >
        <br>
        <button type="submit">Post</button>
      </form>
    </div>
  </body>
</html>
