<div class="container news-feed">
  <input placeholder="search" ng-model="ctrl.search">
  <div ng-repeat="post in ctrl.posts | filter: ctrl.search">
    <a ng-show="post.link" href="{{post.link}}">
      {{post.title}}
    </a>
    <span ng-hide="post.link">
      {{post.title}}
    </span>
    - upvotes: {{post.upvotes}}
    <span ng-click="ctrl.incrementUpvotes(post)" class="glyphicon glyphicon-plus"></span>
    <span><a ui-sref="posts.post({id: post.id})" ui-sref-active="active">View Comments</a></span>
  </div>
  <ui-view></ui-view>
  <form ng-submit="ctrl.addPost()">
    <input type="text" placeholder="Title" ng-model="ctrl.newTitle">
    <br>
    <input type="text" placeholder="Link" ng-model="ctrl.newLink" >
    <br>
    <button type="submit">Post</button>
  </form>
</div>
